/* Not Found */
#errorPage {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#errorPage .content {
  max-width: 600px;
  text-align: center;
  color: #0b3d91;
}
.content h2.header {
  font-size: 12vw;
  line-height: 1em;
  position: relative;
}

.content h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #0b3d91;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}

.content p {
  font-size: 1.2em;
  color: #0d0d0d;
}